<mat-card class="p-0" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
  <mat-card-title class="">
    <div class="card-title-text">Bidder List</div>
    <mat-divider></mat-divider>
  </mat-card-title>
  <mat-card-content class="p-0">
    <div style="margin: 5px; " fxLayout="row wrap" [@animate]="{value:'*',params:{delay:'600ms',scale:'.9'}}">
      <div style="align-self: center;" fxFlex="100" fxFlex.gt-sm="67">
        <a [innerHtml]="FilterString"></a>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="17">
        <button *ngIf="isdiableeporrt" (click)="reportDownload()"
         style="background-color: purple; margin-top: inherit; color: white;float: left" mat-raised-button  color="primary"
          color="primary">
          Export to Excel &nbsp; <mat-icon>
            cloud_download</mat-icon> </button>

          


        <button disabled *ngIf="!isdiableeporrt"   
        style="background-color: purple; margin-top: inherit; color: white;" mat-raised-button  color="warn">
          {{this.pendingcount}}/{{this.TotalCount}} &nbsp; <mat-icon>
            sync</mat-icon> </button>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="15">
        <button style="background-color: purple; margin-top: inherit; color: white;" mat-raised-button  color="primary">Total Rows :
          {{TotalCount}}</button>
      </div>
    </div>
    <mat-tab-group #tabRef style="background: #f6f6f6;" (selectedTabChange)="tabChange($event)">
      <mat-tab label="Customer" style="overflow: none !important;">
        <ngx-datatable #mydatatable5 class="material ml-0 mr-0 my-data-table" [rows]="items" [columnMode]="'force'" [headerHeight]="50"
        [footerHeight]="50" [scrollbarH]="true" [limit]="page.size" [count]="page.totalElements" [rowHeight]="35"
        [externalPaging]="true" (page)="setPage($event)" [offset]="tableOffset">
        <ngx-datatable-column [frozenLeft]="true" [width]="220" name="Full Name" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.user?.full_name }}
          </ng-template>
        </ngx-datatable-column>
  
        <ngx-datatable-column [frozenLeft]="true" [width]="200" name="Mobile No." [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.user?.mobile_number}}
          </ng-template>
        </ngx-datatable-column>
  
        <ngx-datatable-column [width]="250" name="Bidder Code" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.user.bidder_code}}
          </ng-template>
        </ngx-datatable-column>
        
        <ngx-datatable-column name="Email Id" [width]="250" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.user?.email_id}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Contract No." [width]="250" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.auction_detail?.inventory?.contract_no}} 
          </ng-template>
        </ngx-datatable-column>
  
        <ngx-datatable-column name="Auction Code" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.auction_detail?.auction?.auction_code}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [width]="150" name="Auction Title" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.auction_detail?.auction?.auction_title}} 
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [width]="150" name="Inventory Title" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.auction_detail?.inventory?.inventory_title}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [width]="150" name="Row Id" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.row_id}}
          </ng-template>
        </ngx-datatable-column>
  
        
        <ngx-datatable-column [width]="150" name="Bid Amount" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.bid_amount}}
          </ng-template>
        </ngx-datatable-column>
  
        
        <!-- <ngx-datatable-column [width]="230" name="Start Date" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.auction_detail?.auction?.start_at | date :'dd-MM-yyyy hh:mm:ss.sss a' }}
          </ng-template>
        </ngx-datatable-column>
  
        <ngx-datatable-column [width]="230" name="End Date" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.auction_detail?.auction?.end_at | date :'dd-MM-yyyy hh:mm:ss.sss a' }}
          </ng-template>
        </ngx-datatable-column> -->
  
    
      </ngx-datatable>
      </mat-tab>
      <mat-tab label="Bidder" style="overflow: none !important;">
        <ngx-datatable #mydatatable5 class="material ml-0 mr-0 my-data-table" [rows]="items" [columnMode]="'force'" [headerHeight]="50"
      [footerHeight]="50" [scrollbarH]="true" [limit]="page.size" [count]="page.totalElements" [rowHeight]="35"
      [externalPaging]="true" (page)="setPage($event)" [offset]="tableOffset">
      <ngx-datatable-column [frozenLeft]="true" [width]="220" name="Full Name" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.user?.full_name }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [frozenLeft]="true" [width]="200" name="Mobile No." [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.user?.mobile_number}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [width]="250" name="Bidder Code" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.user.bidder_code}}
        </ng-template>
      </ngx-datatable-column>
      
      <ngx-datatable-column name="Email Id" [width]="250" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.user?.email_id}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Contract No." [width]="250" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.auction_detail?.inventory?.contract_no}} 
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Auction Code" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.auction_detail?.auction?.auction_code}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [width]="150" name="Auction Title" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.auction_detail?.auction?.auction_title}} 
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [width]="150" name="Inventory Title" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.auction_detail?.inventory?.inventory_title}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [width]="150" name="Row Id" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.row_id}}
        </ng-template>
      </ngx-datatable-column>

      
      <ngx-datatable-column [width]="150" name="Bid Amount" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.bid_amount}}
        </ng-template>
      </ngx-datatable-column>

      
      <!-- <ngx-datatable-column [width]="230" name="Start Date" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.auction_detail?.auction?.start_at | date :'dd-MM-yyyy hh:mm:ss.sss a' }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [width]="230" name="End Date" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.auction_detail?.auction?.end_at | date :'dd-MM-yyyy hh:mm:ss.sss a' }}
        </ng-template>
      </ngx-datatable-column> -->

  
    </ngx-datatable>
      </mat-tab>
    </mat-tab-group>
    
  </mat-card-content>
</mat-card>

<winnerList-Advance-Filter (messageEvent)="receiveMessage($event)">
</winnerList-Advance-Filter>